{% load static %}

{% with slug=request.resolver_match.captured_kwargs.slug %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link href="{% static 'nens_auth_client/css/output.css' %}" rel="stylesheet">
</head>


<body>
    <div class="w-lg mt-40 mx-auto p-4">
        <form method="post">
            {% csrf_token %}
            <fieldset class="fieldset border p-4 text-base rounded-box">
                <legend class="fieldset-legend p-1">Sign up</legend>
                <label class="label">First name:</label>
                <input type="text" placeholder="Type here" class="input mb-2" />
                <label class="label">Last name:</label>
                <input type="text" placeholder="Type here" class="input mb-2" />
                <label class="label">Email:</label>
                <input type="text" class="input" disabled />
                <p class="label text-xs mb-2">The address used for the invitation.</p>
                <label class="label">Password:</label>
                <input type="password" placeholder="Type here" class="input" />
                <p class="label text-xs mb-2">At least 12 characters long.</p>
                <label class="label">Confirm password:</label>
                <input type="password" placeholder="Type here" class="input mb-2" />
            </fieldset>
            <a href="{% url 'nens_auth_client:welcome' slug %}" class="btn btn-outline mt-3">Back</a>
            <button class="btn btn-outline mt-3 ml-1">Next</button>
        </form>
    </div>
</body>

</html>

{% endwith %}