<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>blah</title>
</head>

<body>
    <form>
        <fieldset>
            <legend>Welcome, invitee! Have we met before?</legend>
            <div>
                <input type="radio" id="new" name="user" value="new" checked />
                <label for="new">No, I am a new user and I want to sign up.</label>
            </div>
            <div>
                <input type="radio" id="existing" name="user" value="existing" />
                <label for="existing">Yes, I already have an account and want to sign in.</label>
            </div>
        </fieldset>
        <input type="submit" value="Next" formmethod="post" />
    </form>
</body>

</html>