name: Python package

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.8"
            django-version: "2.*"
          - python-version: "3.9"
            django-version: "3.*"
          - python-version: "3.10"
            django-version: "4.*"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[test] django==${{ matrix.django-version }}
    - name: Test with pytest
      run: |
        pytest --cov=nens_auth_client
    - name: Lint with flake8
      run: if flake8 nens_auth_client > flake8.txt; then echo 'flake8 is a success'; else cat flake8.txt; false; fi
